.sidebar ul{
    list-style: none;
    padding-inline-start: 0;
}

.sidebar > ul {
    min-height: 100vh; 
    background-color: rgb(59 130 246 / 50%);
}

.sidebar ul li {
    transition: background-color ease-in-out .3s;
}

.sidebar > ul li:hover {
    background-color: rgb(59 130 246 / 70%);
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    flex-wrap: wrap;
}

.sidebarText {
    margin-left: .5rem;
}

.sidebarItem {
    cursor: pointer;
}